.logo-icon {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: lightgray;
    background-image: url(https://di-uploads-pod15.dealerinspire.com/porschelehi1/uploads/2018/05/Porsche-911-GT3-RS.jpg);
    background-size: cover;
}

body {
    background-color: #faf7f0; /* warna krem lembut */
    font-family: Arial, sans-serif;
    color: #333; 
}

/* header */
.main-header {
    background-color: #7d0505;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 10px;

}

.main-header nav a {
    margin-left: 8px;
    transition: 0.2s;
}

.main-header nav a:hover {
    background-color: #7f1d1d;
}

#home-page {
    background-color: #fef2f2; 
}

#our-profile-page {
    background-color: #fff7ed; 
}

#portfolio-page {
    background-color: #eff6ff; 
}

#message-us-page {
    background-color: #f0fdf4; 
}

/* footer */
footer {
    padding: 10px;
    background-color: #7d0505;
    color: white;
}

footer span,
footer i {
    font-size: 14px;
}

/* form message us */
input, textarea {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
}

input:focus,
textarea:focus {
    border-color: #b91c1c;
    outline: none;
    box-shadow: 0px 0px 6px rgba(185, 28, 28, 0.3);
}

/* button submit message */
.btn-red {
    background-color: #d40b0b;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.2s;
}

.btn-red:hover {
    background-color: #991b1b;
    cursor: pointer;
}